#img-header {
  height: 50px;
}

.block {
  background-color: rgb(245, 211, 137);
  height: 100%;
  width: 100%;
  border: 1px solid black;
  margin: 0 auto;
}

#h1 {
  text-align: center;
}

.div-img {
  margin-top: 80px;
}

#img {
  height: 250px;
  display: block;
  margin: auto;
}

.bloc {
  margin-left: 33%;
  border-radius: 5px;
}

img {
  border-radius: 5px, rgb(201, 41, 41);
}
